objs
libs
!objs/.keepthis
!libs/.keepthis
*.o
example
bench/bin/*
!ruby/*.c
!ruby/*.cc
!ruby/*.rb
ruby/*
!bench/.gems/ruby
bench/.gems/ruby/*/*
bench/.gems/env*
!bench/.gems/ruby/*/cache
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
*.so*
*.a
cmake_*
install_manifest*
Makefile
