objs
libs
lib
!objs/.keepthis
!libs/.keepthis
*.o
*.dylib
example
bench/bin/*
!bench/bin/.keepthis
!ruby/*.c
!ruby/*.cc
!ruby/*.rb
ruby/*
!bench/gems/ruby
bench/gems/ruby/*/*
bench/gems/env*
!bench/gems/ruby/*/cache
cmake_install.cmake
CMakeFiles/
CMakeCache.txt
*.so*
*.a
cmake_*
install_manifest*
Makefile
tmp/*
!tmp/.keepthis
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/dbic++-dev/
debian/dbic++-mysql/
debian/dbic++-pg/
debian/dbic++-db2/
debian/files
debian/stamp-autotools-files
debian/stamp-makefile-build
debian/tmp/
test/
demo/*
!demo/.keepthis
Languages.txt
Menu.txt
Topics.txt
Data/
doc/*
!doc/Web.css
test?
test?.cc
