Source: dbic++
Section: devel
Priority: optional
Maintainer: Bharanee Rathna <deepfryed@gmail.com>
Build-Depends: debhelper (>> 4.0.0), libpcre3-dev, uuid-dev, libmysqlclient-dev, libpq-dev, libevent-dev, cdbs
Standards-Version: 3.8.4

Package: dbic++-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libpcre3-dev, uuid-dev, libevent-dev
Description: C++ Database Interface (development)
 dbic++ offers a simple DBI style database API. It currently supports MySQL >= 5.1
 and PostgreSQL >= 8.0. Support for SQLite3 is planned.
 .
 This package contains files used for development with dbic++.

Package: dbic++-pg
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libpq-dev
Description: C++ Database Interface (library)
 dbic++ offers a simple DBI style database API. It currently supports MySQL >= 5.1
 and PostgreSQL >= 8.0. Support for SQLite3 is planned.
 .
 This package contains driver for PostgreSQL.

Package: dbic++-mysql
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libmysqlclient-dev
Description: C++ Database Interface (library)
 dbic++ offers a simple DBI style database API. It currently supports MySQL >= 5.1
 and PostgreSQL >= 8.0. Support for SQLite3 is planned.
 .
 This package contains driver for MySQL.
